.about {
	padding: 0 70px;



	@media (max-width: 768px) {
		padding: 0 20px;
	}

	@media (max-width: 425px) {
		padding: 0 5px;
	}

	&__text {
		padding: 100px 110px;
		text-align: center;
		font-size: 32px;
		line-height: 120%;
		box-shadow: 0 0 32px rgba(0, 0, 0, 0.08);

		@media (max-width: 1250px) {
			padding: 100px 20px;
		}

		@media (max-width: 768px) {
			padding: 24px 20px;
		}

		@media (max-width: 425px) {
			padding: 24px 10px;
		}

		span {
			font-size: inherit;
			line-height: inherit;
			color: #B01736;
		}

		@media (max-width: 768px) {
			font-size: 28px;
		}

		@media (max-width: 425px) {
			font-size: 16px;
		}
	}
}