.business-lines {
	padding: 0 5px;

	&__title {
		margin-bottom: 55px;
		text-align: center;
	}

	&__list {
		display: flex;
		flex-wrap: wrap;
		gap: 20px;
	}

	&__item {
		background: url('/src/assets/images/business_lines_1.jpg') no-repeat center;
		width: calc((100% - 20px) / 2);
		height: 260px;
		position: relative;
		display: flex;
		align-items: flex-end;
		background-size: cover !important;
		transition: all .3s;



		@media (min-width: 769px) {
			&:hover {
				.business-lines__text-box {
					padding-top: 28px;
					justify-content: flex-start;
					height: 100%;

					@media (max-width: 425px) {
						padding-top: 20px;
					}

					span {
						display: inline-block;
					}
				}
			}
		}

		@media (max-width: 768px) {
			width: 100%;
		}

		@media (max-width: 425px) {
			height: 60px;
		}
	}

	&__item.active {
		height: 240px;
	}

	&__arrow {
		position: absolute;
		width: 36px;
		height: 36px;
		top: 50%;
		right: 5px;
		transform: translateY(-50%);
		transition: all .3s;

		@media (max-width: 768px) {
			&::after {
				content: '';
				position: absolute;
				width: 100%;
				height: 100%;
				background: url('/src/assets/images/business_lines_arrow.svg') no-repeat center;
			}
		}
	}


	&__arrow.active {
		transform: rotate(180deg) translateY(0%);
		top: 12px;
	}


	&__text-box {
		position: relative;
		padding-left: 20px;
		padding-right: 20px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		background: #2D3653;
		width: 100%;
		opacity: 0.6;
		color: #fff;
		font-size: 24px;
		line-height: 100%;
		font-weight: 600;
		transition: all .3s;
		height: 80px;
		transform: translateY(0%);



		@media (max-width: 425px) {
			height: 60px;
			font-size: 20px;
			line-height: 100%;
			padding-right: 10px;
			padding-left: 10px;
		}
	}

	&__text-box.active {
		height: 240px;
	}

	&__text {
		display: none;
		font-size: 17px;
		line-height: 140%;
		font-weight: 400;
		margin-top: 20px;
		color: #fff;

		@media (max-width: 425px) {
			margin-top: 10px;
		}
	}

	&__text.active {
		display: block;
	}
}