* {
	font-size: 18px;
	line-height: 20px;
	font-family: ProximaNovaCondensedSemibold;
	font-weight: 600;
	margin: 0;
	padding: 0;
	color: #444444;
}

.title {
	font-size: 56px;
	line-height: 100%;

	@media (max-width: 768px) {
		font-size: 32px;
	}

	@media (max-width: 425px) {
		font-size: 28px;
	}
}