@use 'variables';
@use 'fonts';
@use 'typography';

* {
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: inherit;
}

li {
	list-style: none;
}

.page {
	max-width: 1250px;
	margin: 0 auto;
}

.main {
	display: flex;
	flex-direction: column;
	gap: 100px 0;

	@media (max-width: 768px) {
		gap: 60px 0;
	}
}